/* Styling the Body element */
    h1{
     color:hsl(0, 75%, 29%);
    }
body {
    background-color: #32c8ed;
    font-family: Verdana;
    text-align: center;
}
/* Styling the Form */
form {
    background-color: #fbfbfc;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
/* Styling .form-control */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}
/* Styling .form-control label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}
/* Styling .form-control input, select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #2f8d41;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}
/* Styling Radio button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}
/* Styling Button */
button {
    background-color: #3cc4dc;
    border: 1px solid #52a5cf;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}